.padre{
    width: 400px;
    height: 400px;
    background-color: darkorange;
}
.hijo{
    width: 50%;
    height: 50%;
    background-color: darksalmon;
}
.padre:hover .hijo{
    animation:transition 5s ease-in-out;
}

@keyframes transition{
    0%{
        transform: translateX(0%) translateY(0%);
    }
    25%{
        transform: translateX(100%) translateY(0%);
    }
    50%{
        transform: translateX(100%) translateY(100%);
    }
    75%{
        transform: translateX(0%) translateY(100%);
    }
    100%{
        transform: translateX(0%) translateY(0%);
    }
   
    
}