@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');
*{
    font-family: 'Kanit', sans-serif;
    color: white;
   
}
html{
    background-color: #161717;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 450px;
}

.botones {
    align-self: flex-start;
    display: flex;
    gap: 20px;
}

.google-btn {
    background-color: #1a73e8;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.google-btn:hover {
    opacity: 0.75;
}


.google-btn picture {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 2px;
}

.google-btn picture img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn span {
    color: white;
    font-weight: 500;
    padding: 15px;

}

.twitter-btn  {
    color: #aaaa;
    background-color:#eee;
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.twitter-btn:hover {
    background-color: #ddd;
}

.separador{
    display: flex;
    width: 100%;
    gap: 15px;
}
.separador hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.separador span {
    color: #8b8b8b;
}

.section-inputs {
    display: flex;
    gap: 10px;
    width: 100%;

}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
 label span {
    font-weight: 700;
 }

.section-inputs label input {
    width: 80%;
    background-color: #212121;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14px;

}

label input {
    width: 100%;
    background-color: #212121;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;


}

label input:hover {
    background-color: #454045;
    border: solid 1px #d4a2a5;
    box-shadow: 0 0 4px #ab2222;
}
label input:focus {
    background-color: white;
    border: solid 1px #d4a2a5;
    box-shadow: 0 0 4px #ab2222;
}

.checkbox-label {
    display: flex;
    flex-direction: row;

}

.checkbox-label input[type="checkbox"] {
    width: 30px;
}

.checkbox-label span {
    font-weight: 400;
}

.submit-btn {
    background-color: #d32a6b;
    color: white;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.75;
}