@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Kanit:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.contenedor{
    background-color: #B9FFB7;
    width: 100vw;
    height: 100vh;
}

h1{
    display: flex;
    justify-content: left;
    font-size: 50px;
}
img{
   position: absolute;
    width: 50px;
    left: 120px;
    top: 0px;
    
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0px;
}
nav a{
    color: chocolate;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
}
nav a:hover{
    background-color: aquamarine;
}