*{
    margin: 0px;
    padding: 0px;
}

.naturaleza{
    width: 100vw;
    opacity: 0.5;
}
.naturaleza:hover{
    opacity: 1;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img-galeria{
    width: 150px;
}
.img-galeria:hover{
    opacity: 0.3;
    cursor: pointer;
}