*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}
.header{
    height: 100vw;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}